<div class="container is-fluid mt-1">
  <table class="table is-bordered is-hoverable is-fullwidth-mobile" id="table-case">
    <thead style="z-index:3;">
      <tr>
        <th class="is-hidden-mobile">No.</th>
        <th class="is-hidden-mobile">Provinsi</th>
        <th><span class="nobr">Kota/Kabupaten</span></th>
        <th>Status</th>
        <th class="is-hidden-mobile">Status Sebelumnya</th>
      </tr>
      <tr>
        <td colspan="5" class="pt-0">
          <%= form_tag zona_resiko_path, method: :get do %>
            <%= text_field_tag :search,
                               params[:search],
                               class: 'input is-small',
                               placeholder: 'Cari Kota/Kabupaten/Provinsi...'%>
          <% end %>
        </td>
      </tr>
    </thead>
    <tbody>
      <% @data_zona&.each&.with_index(1) do |zona, index| %>
        <tr>
          <td class="has-text-left is-hidden-mobile is-vcentered">
            <%= index %>
          </td>
          <td class="has-text-left is-hidden-mobile is-vcentered">
            <%= highlight(eval(zona).symbolize_keys[:prov], params[:search]) %>
          </td>
          <td class="has-text-left is-vcentered">
            <%= highlight(eval(zona).symbolize_keys[:kota], params[:search]) %>
          </td>
          <td class="has-text-centered is-vcentered">
            <%= raw status_badge(eval(zona).symbolize_keys[:hasil]) %>
          </td>
          <td class="has-text-centered is-vcentered">
            <%# <%= raw status_badge(eval(zona).symbolize_keys[:hasil]) %1> %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
