<div class="container is-fluid line-chart">

  <!-- For change default font of chart.js canvas -->
  <script>
    Chart.defaults.global.defaultFontFamily = [
      "BlinkMacSystemFont", "-apple-system",
      "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", "Helvetica",
      "Arial", "sans-serif"
    ];
  </script>

  <div class="chart">
    <%= line_chart @data_positif_covid,
                   title: "Grafik Kasus Positif",
                   colors: ["#B10000"],
                   download: {
                     filename: "COVID19_INDO_HARIAN - Kasus Positif.png",
                     background: "#ffffff"
                   },
                   dataset: {
                     borderWidth: 1
                   },
                   discrete: true %>
  </div>
  <div class="chart">
    <%= line_chart @data_positif_covid_today,
                   title: "Grafik Kasus Positif (Hari ini)",
                   colors: ["#B10000"],
                   download: {
                     filename: "COVID19_INDO_HARIAN - Kasus Positif (Hari ini).png",
                     background: "#ffffff"
                   },
                   dataset: {
                     borderWidth: 1
                   },
                   discrete: true %>
  </div>
  <div class="chart">
    <%= line_chart @data_meninggal_covid,
                   title: "Grafik Pasien Meninggal",
                   colors: ["#B10000"],
                   download: {
                     filename: "COVID19_INDO_HARIAN - Pasien Meninggal.png",
                     background: "#ffffff"
                   },
                   dataset: {
                     borderWidth: 1
                   },
                   discrete: true %>
  </div>
  <div class="chart">
    <%= line_chart @data_meninggal_covid_today,
                   title: "Grafik Pasien Meninggal (Hari ini)",
                   colors: ["#B10000"],
                   download: {
                     filename: "COVID19_INDO_HARIAN - Pasien Meninggal (Hari ini).png",
                     background: "#ffffff"
                   },
                   dataset: {
                     borderWidth: 1
                   },
                   discrete: true %>
  </div>
  <div class="chart">
    <%= line_chart @data_sembuh_covid,
                   title: "Grafik Pasien Sembuh",
                   colors: ["#B10000"],
                   download: {
                     filename: "COVID19_INDO_HARIAN - Pasien Sembuh.png",
                     background: "#ffffff"
                   },
                   dataset: {
                     borderWidth: 1
                   },
                   discrete: true %>
  </div>
  <div class="chart">
    <%= line_chart @data_sembuh_covid_today,
                   title: "Grafik Pasien Sembuh (Hari ini)",
                   colors: ["#B10000"],
                   download: {
                     filename: "COVID19_INDO_HARIAN - Pasien Sembuh (Hari ini).png",
                     background: "#ffffff"
                   },
                   dataset: {
                     borderWidth: 1
                   },
                   discrete: true %>
  </div>
  <div class="chart">
    <%= line_chart @data_jumlah_suspek,
                   title: "Grafik Jumlah Suspek",
                   colors: ["#B10000"],
                   download: {
                     filename: "COVID19_INDO_HARIAN - Suspek.png",
                     background: "#ffffff"
                   },
                   dataset: {
                     borderWidth: 1
                   },
                   discrete: true %>
  </div>
  <div class="chart">
    <%= line_chart @data_jumlah_suspek_today,
                   title: "Grafik Jumlah Suspek (Hari ini)",
                   colors: ["#B10000"],
                   download: {
                     filename: "COVID19_INDO_HARIAN - Suspek (Hari ini).png",
                     background: "#ffffff"
                   },
                   dataset: {
                     borderWidth: 1
                   },
                   discrete: true %>
  </div>
  <div class="chart">
    <%= line_chart @data_jumlah_spesimen,
                   title: "Grafik Jumlah Spesimen",
                   colors: ["#B10000"],
                   download: {
                     filename: "COVID19_INDO_HARIAN - Spesimen.png",
                     background: "#ffffff"
                   },
                   dataset: {
                     borderWidth: 1
                   },
                   discrete: true %>
  </div>
  <div class="chart">
    <%= line_chart @data_jumlah_spesimen_today,
                   title: "Grafik Jumlah Spesimen (Hari ini)",
                   colors: ["#B10000"],
                   download: {
                     filename: "COVID19_INDO_HARIAN - Spesimen (Hari ini).png",
                     background: "#ffffff"
                   },
                   dataset: {
                     borderWidth: 1
                   },
                   discrete: true %>
  </div>
</div>
