<div class="line-chart">

  <!-- For change default font of chart.js canvas -->
  <script>
    Chart.defaults.global.defaultFontFamily = "Fira Sans";
  </script>

  <div class="chart">
    <%= line_chart @data_positif_covid,
                   title: "Grafik Kasus Positif",
                   width: "70%",
                   colors: ["#B10000"],
                   xtitle: "Tanggal",
                   ytitle: "Kasus Positif",
                   download: {
                     filename: "COVID19_INDO_HARIAN - Kasus Positif.png",
                     background: "#ffffff"
                   },
                   dataset: {
                     borderWidth: 1
                   } %>
  </div>
  <div class="chart">
    <%= line_chart @data_meninggal_covid,
                   title: "Grafik Pasien Meninggal",
                   width: "70%",
                   colors: ["#B10000"],
                   xtitle: "Tanggal",
                   ytitle: "Pasien Meninggal",
                   download: {
                     filename: "COVID19_INDO_HARIAN - Pasien Meninggal.png",
                     background: "#ffffff"
                   },
                   dataset: {
                     borderWidth: 1
                   } %>
  </div>
  <div class="chart">
    <%= line_chart @data_sembuh_covid,
                   title: "Grafik Pasien Sembuh",
                   width: "70%",
                   colors: ["#B10000"],
                   xtitle: "Tanggal",
                   ytitle: "Pasien Sembuh",
                   download: {
                     filename: "COVID19_INDO_HARIAN - Pasien Sembuh.png",
                     background: "#ffffff"
                   },
                   dataset: {
                     borderWidth: 1
                   } %>
  </div>
  <div class="chart">
    <%= line_chart @data_jumlah_odp,
                   title: "Grafik Jumlah ODP",
                   width: "70%",
                   colors: ["#B10000"],
                   xtitle: "Tanggal",
                   ytitle: "ODP",
                   download: {
                     filename: "COVID19_INDO_HARIAN - ODP.png",
                     background: "#ffffff"
                   },
                   dataset: {
                     borderWidth: 1
                   } %>
  </div>
  <div class="chart">
    <%= line_chart @data_jumlah_pdp,
                   title: "Grafik Jumlah PDP",
                   width: "70%",
                   colors: ["#B10000"],
                   xtitle: "Tanggal",
                   ytitle: "PDP",
                   download: {
                     filename: "COVID19_INDO_HARIAN - PDP.png",
                     background: "#ffffff"
                   },
                   dataset: {
                     borderWidth: 1
                   } %>
  </div>
</div>
