<div class="container is-fluid">
  <table class="table is-bordered is-hoverable is-fullwidth-mobile" id="table-case">
    <thead>
      <tr>
        <th class="is-hidden-mobile">No.</th>
        <th>Tanggal</th>
        <th>Total Kasus</th>
        <th>Kasus<br><span class="nobr">(Hari ini)</span></th>
        <th class="is-hidden-mobile">Meninggal</th>
        <th class="is-hidden-mobile">Meninggal<br><span class="nobr">(Hari ini)</span></th>
        <th class="is-hidden-mobile">Sembuh</th>
        <th class="is-hidden-mobile">Sembuh<br><span class="nobr">(Hari ini)</span></th>
        <th class="is-hidden-mobile">Suspek</th>
        <th class="is-hidden-mobile">Suspek<br><span class="nobr">(Hari ini)</span></th>
        <th class="is-hidden-mobile">Spesimen</th>
        <th class="is-hidden-mobile">Spesimen<br><span class="nobr">(Hari ini)</span></th>
        <th class="is-hidden-mobile">Aktif</th>
      </tr>
    </thead>
    <tbody>
      <% @cases.each.with_index(1) do |kasus, index| %>
        <tr>
          <td class="has-text-left is-hidden-mobile">
            <span class="<%= 'has-background-warning has-text-weight-bold' if @cases.size == index %>"><%= index %></span>
          </td>
          <td class="has-text-centered">
            <span class="<%= 'has-background-warning has-text-weight-bold' if @cases.size == index %>"><%= kasus.fetched_at %></span>
          </td>
          <td class="has-text-right">
            <span class="<%= 'has-background-warning has-text-weight-bold' if @cases.size == index %>"><%= number_with_delimiter(kasus.positif_covid) %></span>
          </td>
          <td class="has-text-right">
            <span class="<%= 'has-background-warning has-text-weight-bold' if @cases.size == index %>"><%= number_with_delimiter(kasus.positif_covid_today) %></span>
          </td>
          <td class="has-text-right is-hidden-mobile">
            <span class="<%= 'has-background-warning has-text-weight-bold' if @cases.size == index %>"><%= number_with_delimiter(kasus.meninggal_covid) %></span>
          </td>
          <td class="has-text-right is-hidden-mobile">
            <span class="<%= 'has-background-warning has-text-weight-bold' if @cases.size == index %>"><%= number_with_delimiter(kasus.meninggal_covid_today) %></span>
          </td>
          <td class="has-text-right is-hidden-mobile">
            <span class="<%= 'has-background-warning has-text-weight-bold' if @cases.size == index %>"><%= number_with_delimiter(kasus.sembuh_covid) %></span>
          </td>
          <td class="has-text-right is-hidden-mobile">
            <span class="<%= 'has-background-warning has-text-weight-bold' if @cases.size == index %>"><%= number_with_delimiter(kasus.sembuh_covid_today) %></span>
          </td>
          <td class="has-text-right is-hidden-mobile">
            <span class="<%= 'has-background-warning has-text-weight-bold' if @cases.size == index %>"><%= number_with_delimiter(kasus.jumlah_suspek) %></span>
          </td>
          <td class="has-text-right is-hidden-mobile">
            <span class="<%= 'has-background-warning has-text-weight-bold' if @cases.size == index %>"><%= number_with_delimiter(kasus.jumlah_suspek_today) %></span>
          </td>
          <td class="has-text-right is-hidden-mobile">
            <span class="<%= 'has-background-warning has-text-weight-bold' if @cases.size == index %>"><%= number_with_delimiter(kasus.jumlah_spesimen) %></span>
          </td>
          <td class="has-text-right is-hidden-mobile">
            <span class="<%= 'has-background-warning has-text-weight-bold' if @cases.size == index %>"><%= number_with_delimiter(kasus.jumlah_spesimen_today) %></span>
          </td>
          <td class="has-text-right is-hidden-mobile">
            <span class="<%= 'has-background-warning has-text-weight-bold' if @cases.size == index %>"><%= number_with_delimiter(kasus.aktif) %></span>
          </td>
        </tr>
      <% end %>
      <script>
        var rows = document.querySelectorAll('#table-case tr');
        rows[<%= @cases.size %>].scrollIntoView({
          behavior: 'smooth',
          block: 'end'
        });
      </script>
    </tbody>
  </table>

  <div class="buttons are-small mb-0">
    <%= link_to cases_path(format: "xlsx"), class: "button is-fullwidth-mobile" do %>
      <span class="icon">
        <%= image_tag 'file-download-solid.svg', width: '12' %>
      </span>
      <span class="has-text-weight-normal">Export as SpreadSheet</span>
    <% end %>

    <%= link_to cases_path(format: "csv"), class: "button is-fullwidth-mobile" do %>
      <span class="icon">
        <%= image_tag 'file-download-solid.svg', width: '12' %>
      </span>
      <span class="has-text-weight-normal">Export as CSV</span>
    <% end %>
  </div>

  <div class="is-size-7 is-hidden-desktop is-flex-mobile">
    <b>*Gunakan desktop untuk tampilan tabel yang lebih lengkap.</b>
  </div>

  <div class="legend">
    <h4 class="subtitle is-4 mb-2">Legenda:</h3>
    <table class="table is-bordered pb">
      <tr>
        <td class="has-text-right"><b>Tanggal</b></td>
        <td class="has-text-left">Tanggal perhari</td>
      </tr>
      <tr>
        <td class="has-text-right"><b>Total Kasus</b></td>
        <td class="has-text-left">Total kasus baru (akumulasi)</td>
      </tr>
      <tr>
        <td class="has-text-right"><b>Kasus (Hari ini)</b></td>
        <td class="has-text-left">Total kasus baru dalam 24 jam</td>
      </tr>
      <tr>
        <td class="has-text-right"><b>Meninggal</b></td>
        <td class="has-text-left">Total pasien meninggal (akumulasi)</td>
      </tr>
      <tr>
        <td class="has-text-right"><b>Meninggal (Hari ini)</b></td>
        <td class="has-text-left">Total pasien meninggal dalam 24 jam</td>
      </tr>
      <tr>
        <td class="has-text-right"><b>Sembuh</b></td>
        <td class="has-text-left">Total pasien sembuh (akumulasi)</td>
      </tr>
      <tr>
        <td class="has-text-right"><b>Sembuh (Hari ini)</b></td>
        <td class="has-text-left">Total pasien sembuh dalam 24 jam</td>
      </tr>
      <tr>
        <td class="has-text-right"><b>Suspek</b></td>
        <td class="has-text-left">Total orang dalam pemantauan (akumulasi)</td>
      </tr>
      <tr>
        <td class="has-text-right"><b>Suspek (Hari ini)</b></td>
        <td class="has-text-left">Total orang dalam pemantauan dalam 24 jam</td>
      </tr>
      <tr>
        <td class="has-text-right"><b>Spesimen</b></td>
        <td class="has-text-left">Total pasien dalam pengawasan (akumulasi)</td>
      </tr>
      <tr>
        <td class="has-text-right"><b>Spesimen (Hari ini)</b></td>
        <td class="has-text-left">Total pasien dalam pengawasan dalam 24 jam</td>
      </tr>
      <tr>
        <td class="has-text-right"><b>Aktif</b></td>
        <td class="has-text-left">Total kasus yang masih ditangani (TK - (MNGL + SMBH))</td>
      </tr>
    </table>
  </div>
</div>
