<!DOCTYPE html>
<html>
  <head>
    <title>Tabel Pencatatan COVID-19 Indonesia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <% if Rails.env.production? %>
      <%= render 'layouts/analytics' %>
    <% end %>
  </head>

  <body>
    <%= render 'layouts/header', latest_updates: @latest_updates %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
<!-- Made with â¤ by Rizqi Nur Assyaufi (bandithijo@gmail.com) - 2020/07/03 -->
